.mr10{
    margin-right: 10px;
}
.mt24{
    margin-top: 24px;
}
.mFree{
    margin:0 0 0 20px!important;
}
.m0{
    margin: 0px!important;
}
.mb18{
    margin-bottom: 18px;
}
.mt34{
    margin-top: 34px!important;
}
.layui-table-cell .layui-form-checkbox[lay-skin=primary]{
    top: 0;
}
.layui-form-checked[lay-skin=primary] i{
    background-color: rgba(29,116,78,1);
}
.layui-form-onswitch{
    background-color: rgba(29,116,78,1);
}
.layui-table-page{
    margin: 0 auto;
    text-align: center;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: rgba(29,116,78,1);
}
body{
    background-color: rgba(242,242,242,1);
    min-width: 1200px;
}
.layui-card{
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 5px 0px rgba(183,221,206,0.32);
    border-radius:2px;
    margin-bottom: 0;
    float: left;
}
.layui-card:nth-child(1){
    width:100%;
}
.layui-card:nth-child(2){
    /* width:590px;*/
    width: 100%;
    margin-top: 20px;
}

.carFont{
    height:42px;
    font-size:16px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(102,102,102,1);
    line-height:42px;
    vertical-align: middle;
}
.layui-card-body{
    padding: 0 15px 0px;
}
.layui-table th{
    height:50px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(0,0,0,0.85);
    line-height:50px;
    text-align: center;
}
.layui-table-view .layui-table td{
    height:50px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    line-height:50px;
    text-align: center;
    color:rgba(102,102,102,1);
}
th>div,td>div{
    text-align: center;
}
.layui-card .layui-card-header{
    display: flex;
    justify-content: space-between;
}
.layui-card:nth-child(2) .layui-card-header{
    height: 60px;
    line-height: 60px;
}
.layui-card .layui-btn{
    color: #666;
    width:100px;
    height:28px;
    background:rgba(255,255,255,1);
    border-radius:15px;
    border:1px solid rgba(29,116,78,1);
    line-height: 28px;
    text-align: center;
}
/*.layui-card:nth-child(1) .myBtn{
    width:100px;
    height:28px;
    border-radius:15px;
    border:1px solid rgba(29,116,78,1);
    line-height: 28px;
}*/
.layui-card .myBtn{
    width:115px;
    height:32px;
    border:1px solid rgba(221,221,221,1);
    line-height: 32px;
    padding-left: 8px;
}
.layui-card:nth-child(1) .layui-form-item{     padding: 0 20px;
    margin: 16px 0px;
    clear: none;
}
/*card基本样式*/


.searchBtn.active{
    background-color: #ddd;
}

.layui-input{
    height: 32px;
}
.cardOne{
    padding: 0 15px;
}
.title{
    height:22px;
    font-size:16px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(102,102,102,1);
    line-height:22px;
}

.oneHeard{
    display: flex;
    justify-content: space-between;
}
.oneHeard span{
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.myTable li{
    border: 1px solid rgba(232,232,232,1);
}
.myTable li:not(:first-child) {
    border-top-width: 0px;
}
.oneBody .layui-row>div:first-child{
    height: 50px;
    line-height: 50px;
}
.oneBody .layui-row input{
    margin: 10px 0;
}
.tableTR{
    background:rgba(250,250,250,1);
    border-right:1px solid rgba(232,232,232,1);
    padding-right: 30px;
    text-align: right;

}
.myheight{
    height: 136px!important;
    line-height: 136px!important;
}
.layui-form-selected dl{
    left: 0;
}
.bodyBtn{
    text-align: center;
}
.addLable input:first-child{
    margin-left: 0px!important;
}
.addBtn{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../../statics/images/videoList/Group 12.png") center center no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
}
.addLable{
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.myfont{
    height:20px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.layui-table-cell .layui-btn{
    height:20px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(29,116,78,1);
    line-height:20px;
    width: 35px;
    border: none;
}
#test10{
    width:366px;
    height:105px;
    background:rgba(250,250,250,1);
    border-radius:10px;
    margin: 0 auto;
    display: block;
    border:1px solid rgba(221,221,221,1);
    padding: 52px 110px 62px!important;
}
#test10 i{
    font-size: 57px;
}
#test10 .tip{
    height:20px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(176,178,180,1);
    line-height:20px;
    margin-top: 6px;
}
.fileControl{
    width:760px;
    margin: 0 auto;
    padding-left: 172px;
}
.upLeft{
    display: flex;
    justify-content: space-between;
    width: 67%;
}
.upRight{
    width: 100%;
    height: 20px;
    font-size:14px;
    font-family:PingFang-SC-Bold;
    color:rgba(102,102,102,1);
    line-height:20px;
}
.layui-progress{
    height: 20px;
}
textarea{
    margin: 10px 0 ;
    resize:none
}
.imgs{ margin-top:10px;
    background: url("../../../images/public/Group71.svg") center no-repeat;
    display: block;
    background-size: 100% 100%;
    width: 157px;
    height: 116px;
}
.imgs:link{
    background: url("../../../images/public/Group7.svg") center no-repeat;
    background-size: 100% 100%;
}
.imgs:hover{
    background: url("../../../images/public/Group712.svg") center no-repeat;
    background-size: 100% 100%;
}
.pl30{
    padding: 10px 0 10px 30px;
}



/*------------collect*/
.img{
    display: block;
    width: 157px;
    height: 116px;
    background: rgba(224,228,238,1);
    border-radius: 8px;
    line-height: 20px;
    cursor: pointer;
    float: left;
    margin-left:20px;
    overflow: hidden;
    margin-bottom: 20px;
}
.img1{
    width: 157px;
    height: 91px;
}
.img1 img{
    width: 157px;
    height: 91px;
}
.img2{
    width: 157px;
    height: 25px;
    line-height:25px;
    text-align:center;
    font-size: 13px;
}
.img2 span{
    display: inline-block;
}
.img3{
    margin-right: 10px;
}



.uploadBtn{
    display: block;
    width:157px;
    height:111px;
    background:rgba(224,228,238,1);
    border-radius:8px;
    line-height:20px;
    font-family:MicrosoftYaHei;
    padding-top: 5px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}
.uploadIcon{
    display: block;
    text-align: center;
    margin:10px auto;
    width:30px;
    height:30px;
    border-radius:50%;
    background-image:url(../../../images/public/add.png);
    /*background:url(../../images/add_def.png) no-repeat;*/
    border:none;
}
.uploadTxt{
    display: block;
    text-align: center;
    font-size:14px;
    line-height:20px;
    margin-bottom:5px;
    color:#575962;
}
.uploadTip{
    display: block;
    text-align: center;
    margin:0 auto;
    width:84px;
    height:32px;
    font-size:12px;
    color:#ACAEB0;
    line-height:16px;
}

.uploadBtn:hover{
    background:#EEF5FD;
}
.uploadBtn:active{
    background:#E0E4EE;
}
.uploadBtn:active .uploadIcon{
    /*background-image:url(../../../images/public/add.png);*/
}

.layui-upload-img{
    width: 157px;
    height: 116px;
    border-radius: 8px;
}

.layui-card:nth-child(1) .layui-form-item.upload-btn-box {
    padding: 10px 0;
}
